<!DOCTYPE html>
<html>
<head>
  <title>Curry</title>
  <link rel='shortcut icon' href='/favicon.ico' />
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application_core' %>
  <%= javascript_include_tag 'application_framework' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type='text/javascript'>
  <%# wrap with jquery %>
  (function($) {
    $(document).ready(function() {
      var loaded = (window.jsloaded && window.jsloaded.applicationCore && window.jsloaded.applicationFrameWork && window.jsloaded.application && window.JST);
      Curry.init();
      Curry.run();
    });
  })(jQuery);
  </script>
</head>
<body>
  <div id='wrap'>
    <div id='page-left-shadow'  class='z-index-layer-1'></div>
    <div id='page-right-shadow' class='z-index-layer-1'></div>
    <div id='page-background'   class='z-index-layer-1'></div>
    <div id='inner-wrap'        class='z-index-layer-2'>
      <div id='header-wrap' ><%= render :partial => 'shared/header' %></div>
      <div id='content-wrap'><%= yield %></div>
      <div id='footer-wrap' ><%= render :partial => 'shared/footer' %></div>
    </div>
  </div>
</body>
</html>
